<h1>Here is a selected user</h1>
<%= image_tag @user.photo, id: "user_photo" %><br>
<div id="user_text">
  <h2><%= @user.name %></h2><br>
  <p>Number of posts: <%= @user.posts_counter.to_i %></p>
</div>
<div id="user_text">
  <h2>Bio</h2><br>
  <p><%= @user.bio %></p>
</div>

<% @user.three_recent_posts.each_with_index do |post, i| %>
  <%= link_to "/users/#{@user.id}/posts/#{post.id}" do %>
    <li id="post_container">
      <h2>Post #<%= i + 1 %></h2>
      <h3><%= post.title %></h3>
      <p><%= post.text %></p>
      <p>Comments: <%= post.comments_counter.to_i %></p>
      <p>Likes: <%= post.likes_counter.to_i %></p>
    </li>
  <% end %>
<% end %>

<%= link_to "See all posts", "/users/#{@user.id}/posts" %>
